In [1]:
# importing numpy 

import numpy as np

In [9]:
# 1-Dimensional Array also referred as vector
a1 = np.array([1, 2, 3])

# 2-Dimensional Array also referred to as Matrix
a2 = np.array([[1, 2.0, 3.3],
      [4, 5, 6.5]])

# 3-Dimensional Array also referred to as Matrix
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8, 9]],
                [[10, 11, 12],
                 [13, 14, 15],
                 [16, 17, 18]]])

In [10]:
# shape: (row, col)
a1.shape, a2.shape, a3.shape

((3,), (2, 3), (2, 3, 3))

In [11]:
# ndim: no. of dimensions

a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [13]:
# DataType
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [14]:
# Type : array type
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [21]:
print("This is a1: \n", a1)
print("This is a2: \n", a2)
print("This is a3: \n", a3)

This is a1:
 [1 2 3]
This is a2:
 [[1.  2.  3.3]
 [4.  5.  6.5]]
This is a3:
 [[[ 1  2  3]
  [ 4  5  6]
  [ 7  8  9]]

 [[10 11 12]
  [13 14 15]
  [16 17 18]]]

In [23]:
# importing pandas

import pandas as pd
df = pd.DataFrame(np.random.randint(10, size=(5, 3)),
                 columns=['A', 'B', 'C'])

In [24]:
df

   A  B  c
0  3  4  5
1  7  0  9
2  4  1  5
3  0  0  3
4  3  1  6

In [25]:
# creating DF of 'a2' array
df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

### Creating Array

In [26]:
simple_array = np.array([2, 4, 6])
simple_array

array([2, 4, 6])

In [33]:
# creating array of ones

ones = np.ones((5, 3))
ones

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [34]:
ones.dtype

dtype('float64')

In [36]:
# changing the datatype
ones.astype(int)

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]])

In [38]:
# creating arrays of zeros

zeros = np.zeros((2,5))
zeros

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [42]:
# arange: Adding Range (start, stop, step)

arange = np.arange(0, 10, 2)
arange

array([0, 2, 4, 6, 8])

In [44]:
# Random array
random_array = np.random.randint(10, size=(2,4))
random_array

array([[0, 1, 8, 3],
       [6, 1, 7, 9]])

In [45]:
# random: Generates random numbers
np.random.random((5, 3))

array([[0.96058373, 0.4187479 , 0.94296741],
       [0.64931826, 0.62351406, 0.97903057],
       [0.9386196 , 0.01981789, 0.60561252],
       [0.11835973, 0.73622956, 0.35318818],
       [0.34205956, 0.16194631, 0.76853631]])

In [47]:
# rand: random no.s
np.random.rand(3,2)

array([[0.45150745, 0.20309356],
       [0.38774788, 0.01912926],
       [0.08833999, 0.41393466]])

In [49]:
# seed() :If you don't want to generate random no.s
np.random.seed(0)

np.random.randint(10, size=(4,3))

array([[5, 0, 3],
       [3, 7, 9],
       [3, 5, 2],
       [4, 7, 6]])