# Exercises

- Make a Series of different foods.
- Make a Series of different dollar values (these can be integers).
- Combine your Series's of foods and dollar values into a DataFrame.


Try it out for yourself first, then see how your code goes against the solution.

Note: Make sure your two Series are the same size before combining them in a DataFrame.

In [7]:
import pandas as pd

In [16]:
# Series of different foods

foods = pd.Series(["Apple","Mango","Banana"])

# Series of Dollar values

Price = pd.Series([1,3,4])

# DataFrame

Bill = pd.DataFrame({"Foods" : foods, "Price $" : Price})
Bill

    Foods  Price $
0   Apple        1
1   Mango        3
2  Banana        4